body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*------------------------------------------------*/

:root {
  --bg-primary: rgb(41, 41, 51);
  --bg-primary-alpha: rgba(41, 41, 51, 0.5);
  --bg-primary-alpha2: rgba(41, 41, 51, 0.2);
  --sb-bg-clr1: #f36304;
  --sb-bg-clr2: #793321;
  --sb-bg-clr3: #8539229f;
  --sidebar-submenu: rgb(211, 84, 0);
  --sidebar-hover: #da722c;
  --form-btn-save: #dd6b20;
  --form-btn-cancel: #6b7c82;
  --primary-gray: #565a5c;
  --auth-gray: #565a5c;
  --white-1: #eee;
  --white-snow: #FFFAFA;
  --white: #ffffff;
  --white-smoke: #F5F5F5;
  --grey: #c4c4c4;
  --form-label: #252525;
  --form-label-grey: #91979f;
  --form-btn-excel: #5fa6ad;
  --auth-black: rgba(0, 0, 0, 0.04);
  --filter-container: #f5f5f5;
  --alert-cancel-btn: #f1f1f1;
  --black: #000000;
}


/*---------------Auth styles------------------------*/
.authContainer {
  background: var(--white-1);
  height: 100%;
  margin: auto;
}

.otherContainer {
  background: var(--grey);
  height: 100vh;
}

.authInput {
  background-color: var(--white);
  font-size: 16.8px !important;
  font-weight: 300 !important;
  padding: 10px 12px !important;
  width: 95% !important;
  height: 40px;
  border: none;
  border-color: var(--white);
  border-bottom: 2px solid #7b7d86;
}

.authInput:focus,
.authInputInvalid:focus {
  outline: none;
  box-shadow: none;
  padding: 10px 12px !important;
}

.authInputInvalid {
  background-color: var(--white);
  font-size: 16.8px !important;
  font-weight: 300 !important;
  padding: 12px !important;
  width: 95%;
  height: 40px;
  border: none;
  border-bottom: 2px solid red;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
}

.authInput::-webkit-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
}

.authBtn {
  width: 95% !important;
  height: 44px;
  border-radius: 6px;
  background-color: var(--form-btn-save) !important;
  border-color: var(--form-btn-save) !important;
}

.authTitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  padding-top: 10%;
  margin-top: 9%;
}

.authLabel {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

/*--------------- From styles------------------------*/

.formContainer {
  background-color: var(--white-smoke);
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
}

.formAdd {
  width: 95%;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1199px) {
  .formAdd {
    width: 75%;
  }
}

.formTitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24.19px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  color: var(--form-label);
}

.actionBtn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  list-style: none;
  color: var(--main-color);
  transition: transform 0.2s;
  width: 3rem !important;
  height: 2rem !important;
  font-size: 1.15rem;
  line-height: 1;
}

.actionBtn:hover {
  transform: scale(1.1);
}

.formLabel {
  font-weight: 500;
  font-size: 20.16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: var(--form-label);
}

.formInput {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
  border-radius: 6px !important;
  height: 33px !important;
  font-size: 16.8px !important;
  font-weight: 300 !important;
  border: none !important;
  padding: 6px 12px !important;
}

.btnSave {
  width: 95%;
  height: 33px;
  top: 73px;
  border-radius: 6px;
  background-color: var(--form-btn-save) !important;
  border-color: var(--form-btn-save) !important;
  border: none;
  margin-top: 4rem;
}

.btnSave:hover {
  transform: scale(1.01);
}

.btnCancel {
  width: 95%;
  height: 33px;
  top: 73px;
  border-radius: 6px;
  color: var(--main-color);
  background-color: var(--white);
  border: none;
  margin-top: 4rem;
}

.btnCancel:hover {
  transform: scale(1.01);
}

/*------------------------------------------------*/

/* ERROR TOAST */
.Toastify__toast--error {
  border-radius: 6px !important;
  background: #ffe4e3 !important;
}

.Toastify__toast--error div {
  color: #b03d40;
  font-family: 'Inter', sans-serif !important;
  font-weight: 500;
}

.Toastify__toast--error::before {
  content: url('../src/assets/svg/error-toast.svg');
  position: relative;
  z-index: 100000;
  left: 5px;
  top: 14px;
}

.Toastify__progress-bar-theme--colored {
  height: 6px;
}
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
  background: #b03d40 !important;
}

.Toastify__toast-icon {
  display: none !important;
}

.Toastify__toast > button > svg {
  display: none;
}

.Toastify__toast-container {
  width: 445px !important;
  height: 64px !important;
  border-radius: 10px !important;
}
