body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*------------------------------------------------*/

:root {
  --bg-primary: rgb(41, 41, 51);
  --bg-primary-alpha: rgba(41, 41, 51, 0.5);
  --bg-primary-alpha2: rgba(41, 41, 51, 0.2);
  --sb-bg-clr1: #f36304;
  --sb-bg-clr2: #793321;
  --sb-bg-clr3: #8539229f;
  --sidebar-submenu: rgb(211, 84, 0);
  --sidebar-hover: #da722c;
  --form-btn-auth: #dd6b20;
  --primary-gray: #565a5c;
  --auth-gray: #565a5c;
  --white-1: #eee;
  --white-snow: #FFFAFA;
  --white: #ffffff;
  --grey: #c4c4c4;
  --form-label: #252525;
  --form-label-grey: #91979f;
  --form-btn-cancel: #6b7c82;
  --form-btn-excel: #5fa6ad;
  --auth-black: rgba(0, 0, 0, 0.04);
  --filter-container: #f5f5f5;
  --alert-cancel-btn: #f1f1f1;
  --black: #000000;
}


/*---------------Auth styles------------------------*/
.authContainer {
  background: var(--white-1);
  height: 100%;
  margin: auto;
}

.otherContainer {
  background: var(--grey);
  height: 100vh;
}

.authInput {
  background-color: var(--white);
  font-size: 16.8px !important;
  font-weight: 300 !important;
  padding: 10px 12px !important;
  width: 95% !important;
  height: 40px;
  border: none;
  border-color: var(--white);
  border-bottom: 2px solid #7b7d86;
}

.authInput:focus,
.authInputInvalid:focus {
  outline: none;
  box-shadow: none;
  padding: 10px 12px !important;
}

.authInputInvalid {
  background-color: var(--white);
  font-size: 16.8px !important;
  font-weight: 300 !important;
  padding: 12px !important;
  width: 95%;
  height: 40px;
  border: none;
  border-bottom: 2px solid red;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
}
.authInput::-webkit-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
}

.authBtn {
  width: 95% !important;
  height: 44px;
  border-radius: 6px;
  background-color: var(--form-btn-auth) !important;
  border-color: var(--form-btn-auth) !important;
}

.authTitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  padding-top: 10%;
  margin-top: 9%;
}

.authLabel {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
/*------------------------------------------------*/

/* ERROR TOAST */
.Toastify__toast--error {
  border-radius: 6px !important;
  background: #ffe4e3 !important;
}

.Toastify__toast--error div {
  color: #b03d40;
  font-family: 'Inter', sans-serif !important;
  font-weight: 500;
}

.Toastify__toast--error::before {
  content: url('../src/assets/svg/error-toast.svg');
  position: relative;
  z-index: 100000;
  left: 5px;
  top: 14px;
}

.Toastify__progress-bar-theme--colored {
  height: 6px;
}
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
  background: #b03d40 !important;
}

.Toastify__toast-icon {
  display: none !important;
}

.Toastify__toast > button > svg {
  display: none;
}

.Toastify__toast-container {
  width: 445px !important;
  height: 64px !important;
  border-radius: 10px !important;
}
